<!--?xml version="1.0" encoding="UTF-8"?-->  
  
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://33.33.33.1/evidence_db</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="connection.pool_size">5</property>
		<property name="hibernate.id.new_generator_mappings">false</property>
		<property name="hibernate.hbm2ddl.auto">create</property><!-- creates schema from entities each app deploy  -->

		<!-- here all entities will come -->
		<mapping class="core.db.entity.Office"/>
		<mapping class="core.db.entity.User"/>
		<mapping class="core.db.entity.Project"/></session-factory>
</hibernate-configuration>